anyio==4.13.0
argcomplete==3.6.3
beautifulsoup4==4.15.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.2-build/blivet-3.14.2
boto3==1.43.104
botocore==1.43.104
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-367-build/cockpit-367/tmp/wheel/cockpit-367-py3-none-any.whl#sha256=2cf3b2a68ba6c00ac51b231ff213026b3ab544d59aed2ac63d14777b82cbb1f4
crypt_r==3.13.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dnf==4.24.0
fedora-third-party==0.10
file-magic==0.4.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.18
iso639==0.1.4
jmespath==1.0.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.76.0
libdnf5==5.4.6.0
louis==3.33.0
lxml==6.1.1
mercurial==7.2.4
nftables==0.1
olefile==0.47
packaging==25.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
productmd==1.50
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.3.0
pygdbmi==0.11.0.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparted==3.13.0
PySide6==6.11.2
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.4
python-meh==0.52
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.7.19
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.2
s3transfer==0.19.1
selinux @ file:///builddir/build/BUILD/libselinux-3.11-build/libselinux-3.11/src/dist/selinux-3.11-cp314-cp314-linux_x86_64.whl#sha256=3a0cf8b0db338328b37b7ea642291730a857b9747755d8c8cd884d8c6875845c
sentry-sdk==2.48.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.11-build/selinux-3.11/python/sepolicy/dist/sepolicy-3.11-py3-none-any.whl#sha256=4215ac0439a505cdb35970cf16a590b4592d8a21f2bc6612e7a216c4490da2a3
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
shiboken6==6.11.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sos==4.12.0
soupsieve==2.8.3
systemd-python==235
typing_extensions==4.16.0
urllib3==2.8.0
xkbregistry==0.3
